*{
 margin: 0;
 padding: 0;
}
.overflow-y{
    height: 1000px;
    background-color: lightseagreen;
}
.shadow{
    background-color: green;
    width: 250px;
    height: 250px;
    margin-left: 40%;
    margin-top: 60px;
    box-shadow: 6px 5px 15px blue;
}
#box1{
    background-color: black;
    width: 250px;
    height: 250px;
    margin-left: 40;
    margin-top: 60px;
    box-shadow: ;
}